<ion-view view-title="{{ route.route.title }}">
  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()" spinner="lines"></ion-refresher>
    <ion-item>
    <h2>{{ route.route.title }}</h2>
    <p>{{ route.stop.title }}</p>
    <p>{{ route.stop.distance }}</p>
    <div ng-repeat="value in route.values">
      <p><strong>{{ value.direction.title }}</strong></p>
      <p>{{ value.minutes }} Minutes</p>
    </div>
    </ion-item>

    <ion-item>
    <!-- the below ng-repeats are just placeholders...will flesh out data in details.js/services.js -->
    <div ng-repeat="info in route.attractions"> 
      <p><strong>{{ info.stop.title }}</strong></p>
      <div ng-repeat="attractions in info.stop">
        <p>{{ attractions.name }}</p>
      </div>
    </div>
    </ion-item>
    <!-- not sure why page fails to load when the below two lines are deleted -->
    <ion-item style='margin: 0; padding: 0; height: 0px;'>
    <ion-content id='mapContainer'></ion-content>
    </ion-item>
  </ion-content>


</ion-view>