<ion-view view-title="{{ route.route.title }}">
  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()" spinner="lines"></ion-refresher>
    <ion-item>
    <h2>{{ route.route.title }}</h2>
    <p>{{ route.stop.title }}</p>
    <p>{{ route.stop.distance }}</p>
    <div ng-repeat="value in route.values">
      <p><strong>{{ value.direction.title }}</strong></p>
      <p>{{ value.minutes }} Minutes</p>
    </div>
    </ion-item>

    <!-- not sure why page fails to load when the below two lines are deleted -->
    <ion-item style='margin: 0; padding: 0; height: 400px;'>
    <ion-content id='mapContainer'></ion-content>
    </ion-item>



 <ion-footer-bar class="bar-assertive">
   <div class="buttons">
     <button class="button" align="center" ng-click="redirect()">Attractions along your route</button>
   </div>
 </ion-footer-bar>


</ion-view>

<!-- align-title="left" -->

<!-- the below will be put in our attractions.js -->
<!-- 
    <div style="overflow-y: scroll;" ng-repeat="item in testData.businesses">
      <p><strong>
        {{ item.name }}
      </strong></p>
      <p>
        {{ item.number }}
      </p>
      <p>
        {{ item.location }}
      </p>
    </div>
  </ion-content> -->